.Montserrat{ 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
}
.Baloo{
    font-family: 'Baloo Thambi', cursive;
    color: white;
}

.bigtext{
    font-size: 80px;
    color: white;
}
.medtext{
    font-size: 40px;
    color: whitesmoke;
}
.bluecheetah{
    background-image: url(bluecheetah.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.boldfont{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.leopard{
    background-image: url(leopard.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.center{
    text-align: center;
    align-self: center;
    align-content: center;
}
.magenta{
    background-color: #9c4065;
}
.imgsize{
    background-size: 100px;
}